<%- include('./base/header.ejs')%>
<div class="container">
    <div class="alert bg-success my-3">
        <h4 class="text-center" style="color:white"> update student </h4>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col"></div>
        <div class="col">
            <form action='/update/student/<%= student._id%>' method="post">
                <div>
                    <label class="form-label">Roll No</label>
                    <input type="text" class="form-control" name="rollNo" value= "<%=student.rollNo%>">
                </div>
                <div>
                  <label class="form-label">firstname</label>
                  <input type="text" class="form-control" name="firstname"value= "<%=student.firstname%>">
              </div>
              <div>
                <label class="form-label">lastname</label>
                <input type="text" class="form-control" name="lastname"value= "<%=student.lastname%>">
            </div>
            <div>
              <label class="form-label">fathername</label>
              <input type="text" class="form-control" name="fathername"value= "<%=student.fathername%>">

          </div>
          <div>
            <label class="form-label">adharNO</label>
            <input type="text" class="form-control" name="adharNO"value= "<%=student.adharNO%>">
        </div>
        <div>
          <label class="form-label">mobileNO</label>
          <input type="text" class="form-control" name="mobileNO"value= "<%=student.mobileNO%>">
      </div>
      <input type ="submit" value=" update Student" class="btn btn-warning w-100">        
        </form>
        </div>
        <div class="col"></div>
        </div>
    </div>
</div>
<%- include('./base/footer.ejs')%>